[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kamalesh Kumar Kanakaraj (KKanakaraj)
[access "refs/for/refs/*"]
	read = group user/Kamalesh Kumar Kanakaraj (KKanakaraj)
	push = group user/Kamalesh Kumar Kanakaraj (KKanakaraj)
	label-Code-Review = -2..+2 group user/Kamalesh Kumar Kanakaraj (KKanakaraj)
	label-Verified = -1..+1 group user/Kamalesh Kumar Kanakaraj (KKanakaraj)
	rebase = group user/Kamalesh Kumar Kanakaraj (KKanakaraj)
	removeReviewer = group user/Kamalesh Kumar Kanakaraj (KKanakaraj)
	submit = group user/Kamalesh Kumar Kanakaraj (KKanakaraj)
[access "refs/heads/*"]
	read = group user/Kamalesh Kumar Kanakaraj (KKanakaraj)
	create = group user/Kamalesh Kumar Kanakaraj (KKanakaraj)
	push = +force group user/Kamalesh Kumar Kanakaraj (KKanakaraj)
	pushMerge = group user/Kamalesh Kumar Kanakaraj (KKanakaraj)
[access "refs/tags/*"]
	push = group user/Kamalesh Kumar Kanakaraj (KKanakaraj)
	push = +force group user/Kamalesh Kumar Kanakaraj (KKanakaraj)
